/* :root {
  color: gray;
  background-color: black;
} */

.app-root {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 2fr;
}

input,
label,
select,
textarea {
  display: block;
}

.skills-title,
.skill {
  display: inline;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

textarea {
  resize: vertical;
}

.skills-header {
  margin-bottom: 1rem;
}

.key-events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.key-events-title {
  display: inline;
}

.new-event-button {
  height: min-content;
}

.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-display-container {
  width: clamp(10rem, 40rem, 40rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.character-info p {
  margin-top: 0.5rem;
}

.displayNameTitle {
  margin-bottom: 0;
}
.displaySpeciesClass {
  margin-top: 0;
}

.displayNameTitle,
.displaySpeciesClass {
  align-self: center;
}

.character-text-box {
  background-color: rgb(255, 239, 218);
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 8px;
  color: rgb(87, 87, 87);
  width: 30rem;
}

.keyEventsDivInput,
.skillUnit {
  margin-left: 2rem;
}
